@page
@model Web.Pages.Vehiculos.EliminarModel
@{
}
<section class="page-section bg-light" id="principal">
	<div class="container">
		<div class="container">
			<div class="text-center">
				<h2 class="section-heading text-uppercase">Eliminar vehiculo</h2>
			</div>

			<div class="col-xl-5 col-lg-6 col-md-8 col-sm-10 mx-auto ">
				<form method="post">
					<row>
						<dt>
							@Html.DisplayNameFor(model => model.vehiculo.Marca):
						</dt>
						<dd>
							@Html.DisplayFor(model => model.vehiculo.Marca)
						</dd>
					</row>
					<row>
						<dt>
							@Html.DisplayNameFor(model => model.vehiculo.Modelo):
						</dt>
						<dd>
							@Html.DisplayFor(model => model.vehiculo.Modelo)
						</dd>
					</row>
					<row>
						<dt>
							@Html.DisplayNameFor(model => model.vehiculo.Placa):
						</dt>
						<dd>
							@Html.DisplayFor(model => model.vehiculo.Placa)
						</dd>
					</row>
					<row>
						<dt>
							@Html.DisplayNameFor(model => model.vehiculo.Anio):
						</dt>
						<dd>
							@Html.DisplayFor(model => model.vehiculo.Anio)
						</dd>
					</row>
					<row>
						<dt>
							@Html.DisplayNameFor(model => model.vehiculo.Color):
						</dt>
						<dd>
							@Html.DisplayFor(model => model.vehiculo.Color)
						</dd>
					</row>               <row>
						<dt>
							@Html.DisplayNameFor(model => model.vehiculo.CorreoPropietario):
						</dt>
						<dd>
							@Html.DisplayFor(model => model.vehiculo.CorreoPropietario)
						</dd>
					</row>
					</row>               
					<row>
						<dt>
							@Html.DisplayNameFor(model => model.vehiculo.TelefonoPropietario):
						</dt>
						<dd>
							@Html.DisplayFor(model => model.vehiculo.TelefonoPropietario)
						</dd>
					</row>
					<div class="form-group">
						<a class="btn btn-primary" asp-page="./Index">Regresar</a>
						<button type="submit" class="btn btn-danger">Eliminar</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</section>